<p id="notice"><%= notice %></p>
<div class="single">
	<div class="container">
		<div class="col-md-6 single-right-left animated wow slideInUp animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInUp;">
			<div class="grid images_3_of_2">
				<div class="flexslider">
					<!-- FlexSlider -->
						<script>
						// Can also be used with $(document).ready()
							$(window).load(function() {
								$('.flexslider').flexslider({
								animation: "slide",
								controlNav: "thumbnails"
								});
							});
						</script>
					<!-- //FlexSlider-->
<center><p><%= image_tag @product.image.url(:medium),:size=>"300xauto"%></p></center>
					<div class="clearfix"></div>
				</div>	
			</div>
		</div>
		<div class="col-md-6 single-right-left simpleCart_shelfItem animated wow slideInRight animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInRight;">
					<h1><%= @product.title %></h1>
					<% if @product.loai_id == 1 %>
						<h3>Điện thoại</h3>
					<% else %> 
						<h3>Phụ kiện</h3>
					<% end %>

					<span style="font-size: 30px" class="item_price"><%= number_to_currency(@product.price, unit: " VNĐ",format: "%n %u",:precision => 0) %></span>
					
					<div class="description">
					<%= button_to 'Add to Cart', line_items_path(:product_id => @product), :class=>"item_add hvr-outline-out button2" %>

					</div>
						<div class="clearfix"> </div>
					</div>
					
		</div>
				<div class="clearfix"> </div>

				<div class="bootstrap-tab animated wow slideInUp animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInUp;">
					<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
						<ul id="myTab" class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Description</a></li>
							<li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Comment</a></li>
						</ul>
						<div id="myTabContent" class="tab-content">
							<div role="tabpanel" class="tab-pane fade in active bootstrap-tab-text" id="home" aria-labelledby="home-tab">
								<h5>  <%= @product.title %></h5>
						  				<%=raw @product.description %>
  				</div>
							<div role="tabpanel" class="tab-pane fade bootstrap-tab-text" id="profile" aria-labelledby="profile-tab">
								<div class="bootstrap-tab-text-grids">
									<div class="bootstrap-tab-text-grid">
										
										<div id="disqus_thread"></div>
											<script>
											(function() {
											var d = document, s = d.createElement('script');
											s.src = 'https://bansamsung.disqus.com/embed.js';
											s.setAttribute('data-timestamp', +new Date());
											(d.head || d.body).appendChild(s);
											})();
											</script>
											<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

									
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

<% if session[:user_id] %>
<p>Chức năng cho Admin</p>
<%= link_to 'Sửa thông tin sản phẩm', edit_product_path(@product) %> |
<%= link_to 'Quản lý sản phẩm', products_path %>
<% end %>