<div class="ele-bottom-grid">
				<h3><span>Muc gia 30.000.000 VND -> 35.000.000 VND </span>!!</h3>
<% @bamuoibalam.each do |product| %>
						<div class="col-md-2 product-men">
							<div class="men-pro-item simpleCart_shelfItem">
								<div class="men-thumb-item">
								<p><%= image_tag product.image.url(:medium), :class=>"pro-image-front", :size=>"autox220" %></p>
								<p><%= image_tag product.image.url(:medium), :class=>"pro-image-back", :size=>"autox220"%></p>
										<div class="men-cart-pro">
											<div class="inner-men-cart-pro">
											        <td><%= link_to 'Show', product ,:class=>"link-product-add-cart"%></td>
											</div>
										</div>
										<span class="product-new-top">New</span>
								</div>
								<div class="item-info-product ">
									<h3><%= product.title %></h3>
									<div class="info-product-price">
										<div class="description">
										<span class="item_price"><%= number_to_currency(product.price, unit: " VNÄ",format: "%n %u",:precision => 0) %></span>
										<%= button_to 'Add to Cart', line_items_path(:product_id => product), :class=>"item_add single-item hvr-outline-out button2" %>
									</div>
								</div>
							</div>
						</div>
    <% end %>
				</div>
						<div class="clearfix"></div>
		<p><%= will_paginate @bamuoibalam %></p>
</div>